$code-editorBG: #072437;
$code-text: rgba(255, 255, 255, 0.947);

body {
  margin: 0;
  color: floralwhite;
}

.mainDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.mainDisplay h1 {
  font-size: 50px;
  animation: fadeIn ease 2000ms;
  -webkit-animation: fadeIn ease 2000ms;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

.mainDisplay h3 {
  width: 550px;
  text-align: center;
  line-height: 27px;
}

.offlineMainDiv h3 {
  text-decoration: underline;
}

.mainDisplay p {
  color: floralwhite;
  margin: 0px;
}

.subtitle {
  color: floralwhite;
  margin: 0px;
  // opacity: 0;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.developedBy {
  padding-top: 50px;
  font-size: 15px;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

.Demo {
  border-right: 4px solid darkslategray;
  padding-right: 75px;
  margin-left: 50px;
  .query-text-container {
    display: flex;
    justify-content: center;
    label {
      display: flex;
      flex-direction: column;
      h4 {
        align-self: center;
      }
    }
  }
  animation: fadeIn ease 2000ms;
  -webkit-animation: fadeIn ease 2000ms;
  -webkit-animation-delay: 120ms;
  animation-delay: 120ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

.DB-view {
  background: $code-editorBG;
  color: $code-text;
  width: 320px;
  height: 30vh;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}

.cache-view {
  background: $code-editorBG;
  color: $code-text;
  width: 320px;
  height: 30vh;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}

.fetched-div {
  h4 {
    text-align: center;
  }
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.cache-div {
  h4 {
    text-align: center;
  }
  margin-top: 10px;
  margin-bottom: 10px;
}

.mainOfflineDiv {
  display: flex;
  margin-right: 50px;
  margin-left: 20px;
  animation: fadeIn ease 2000ms;
  -webkit-animation: fadeIn ease 2000ms;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

.navUl {
  padding-bottom: 15px;
  font-weight: 200;
  border-bottom: 2px solid darkslategrey;

  li {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 23px;

    a {
      color: #d1d1d1;
      text-decoration: none;
    }
    a:hover {
      color: gray;
    }
  }
}

.submitButton {
  background-color: lightslategray;
  color: floralwhite;
  border: none;
  margin: 5px;
  margin-left: 0;
  padding: 5px;
  border-radius: 5px;
}

.updateButton {
  background-color: gray;
  color: floralwhite;
  border: none;
  margin: 5px;
  margin-left: 0px;
  padding: 5px;
  border-radius: 5px;
}

.deleteButton {
  background-color: darkslategray;
  color: floralwhite;
  border: none;
  margin: 5px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 5px;
}

.fetchButton {
  background-color: gray;
  color: floralwhite;
  border: none;
  margin: 5px;
  margin-left: 0;
  padding: 10px;
  border-radius: 5px;
}

.overlayRight {
  display: flex;
  justify-content: flex-end;
}
.overlayLeft {
  display: flex;
  justify-content: flex-start;
}

.addFieldToQuery {
  background-color: darkslategray;
  color: floralwhite;
  border: none;
  margin: 5px;
  margin-left: 0;
  padding: 10px;
  border-radius: 5px;
}

.offlineMainDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@media (max-width: 1300px) {
  .Demo {
    margin: 0;
    padding-right: 0;
  }
}

@media (max-width: 1048px) {
  .Demo {
    border-right: none;
  }
  .mainDemoContainer {
    flex-direction: column;
    margin-top: 400px;
    justify-content: center;
  }
  .navUl {
    li {
      margin-left: 5px;
      margin-right: 5px;
      font-size: 17px;
    }
  }
}

.Info_Headers {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Info_Headers h3 {
  width: 700px;
  line-height: 25px;
}

.Info_Headers h4 {
  width: 700px;
}

.Info_Headers p {
  width: 500px;
  margin-left: 125px;
}

.Info_Headers img {
  flex-direction: column;
  width: 700px;
}

.infoParentDiv {
  display: flex;
  justify-content: center;
}
